# General file extensions to ignore
.nfs*
*.objdump*
*.o
*.d
*.a
*.vstf
*.vcd
*.signature.output
*.dtb
*.log
*.map
*.elf*
*.list
*.memfile
*.vmem

# General directories to ignore
.vscode/
__pycache__/
**/work*
!.github/*
/**/obj_dir*
/**/gmon*

# Verilator
sim/verilator/logs
sim/verilator/wkdir

# Vivado IDE and XSim
xsim.dir/
.Xil/
sim/**/*.coe
*.pb
*.str
*.jou
